{% load static from staticfiles%}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
    </head>

    <body>
        <div class="grid">
                        
            <div class="titulo">
                <img src="{%static 'iger.png' %}" height="300" widht="200" class="image2"/>
            <div>

            <div class="cuadro">
                <h1 class="header1">ABCdigital</h1>

            </div>
            <h2 align="center">
                    Descarga todos tus libros y el material educativo para tus cursos
            </h2>
            <br>
            <br>

            <button class="button" type="button" onclick="location.href='carnet'">INICIAR</button>  
            

        </div>

        <div class="grid2">
            <img src="{%static 'asec.PNG' %}" width="75%">
            <img src="{%static 'imagen3.png' %}" width="75%">
        </div>

    </body>

</html>