{%load static from staticfiles%}
<!DOCTYPE html>
    
    <html>
        <body style="background-color:rgba(250,146,0,1);">
            <div>
                <iframe src="{% static '/mate/story.html' %}" width="99%" height="585 px" align="middle"></iframe>
            </div>
            <input class="button" type="submit" id="Regresar" onclick="doFunction()">Regresar</input>
        </body>

        <script>
            function doFunction(){
                window.location.href = "students/"+document.getElementById("carnet").value; 
            }
        </script>

    </html>
