body {
    background: #AAC4D1;
}

.instructions {
    position: relative;
    height: 650px;
    width: 750px;
    background-color: white;
    top: 1cm;
    left: 1cm;
}

.tittleStyle {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111e6c;
    left: 6cm;
}

.bodyStyle {
    position: relative;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111e6c;
    margin: 0.3cm ;
    text-align: justify;
    margin-left: 5px;
}

.button1{
    position: relative;
    left: 30cm;
    top: -15cm;
    height: 2cm;
    width: 10cm;
}

.button2{
    position: relative;
    left: 22cm;
    top: -10cm;
    height: 3cm;
    width: 3cm;
    border-radius: 100%;
}