{% extends "admin/change_list.html" %}


{% load humanizelib %}


{% block content_title %}
    <h1> Sales Summary </h1>
{% endblock %}



{% block result_list %}

<div class="results">
    
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Circulo</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Cantidad de ingresos</a>
          </div>
        </th>
    
        <th>
          <div class="text">
            <a href="#">
              <strong>% del total de ingresos</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.codigo_circulo }} </td>
        <td> {{ row.total | intcomma }} </td>
        <td>
            <strong>
                {{ row.total_sales |
                    percentof:summary_total.total_sales }}
            </strong>
        </td>
      </tr>
      {% endfor %}
    </tbody>

    <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
        <td> Total </td>
        <td> {{ summary_total.total | intcomma }} </td>
        <td> 100% </td>
    </tr>
    
    

  </table>

  
  
      
</div>

<style>
    .bar-chart {
      display: flex;
      justify-content: space-around;
      height: 160px;
      padding-top: 60px;
      overflow: hidden;
     
    }
    .bar-chart .bar {
        flex: 100%;
        align-self: flex-end;
        margin-right: 2px;
        position: relative;
        background-color: #79aec8;
    }
    .bar-chart .bar:last-child {
        margin: 0;
    }
    .bar-chart .bar:hover {
        background-color: #417690;
    }

    .bar-chart .bar .bar-tooltip {
        position: relative;
        z-index: 999;
    }
    .bar-chart .bar .bar-tooltip {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: bold;
        opacity: 0;
    }
    .bar-chart .bar:hover .bar-tooltip {
        opacity: 1;
    }
    </style>

  <h2> Sales over time </h2>
    <div class="results">
        <div class="bar-chart">
        {% for x in summary %}
            <div class="bar" style="height:{{x.total}}%">
              
                <div class="bar-tooltip">
                    {{x.total | default:0 }}<br>
                    {{x.codigo_circulo}}
                </div>

            </div>
        {% endfor %}
        </div>
    </div>




<!-- ... -->

{% endblock %}



{% block pagination %}{% endblock %}