<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Recolector de libros</title>
        <link rel="stylesheet" href="../../../assets/SubirStyle.css">
    </head>
    <body>
        <div class="instructions">
            <h1>
                <p class="tittleStyle">Instrucciones</p>
                <ol class="bodyStyle">
                    <li class="bodyStyle">En esta pantalla te servirá para subir nuevos libros que necesites tú y tus alumnos, pero recuerda es exclusivamente para libros ten cuidado en subir otro tipo de material. </li>
                    <li class="bodyStyle">Presiona el boton "seleccionar archivos" y busca en tu PC el libro que quieres subir.</li>
                    <li class="bodyStyle">Una vez elegido el archivo deseado, presiona el boton "+" para subir el archivo.</li>
                    <li class="bodyStyle">Ahora si tu archivo ya se encuentra en la nube. Suerte.</li>
                    <img src="../../../assets/file-types.png" left="4cm" width="300" height="310">
                  </ol>
            </h1>
        </div>
        <form enctype="multipart/form-data" action="upload.php" method="POST">
            <input class="button1" name="uploadedfile" type="file"></button>
            <img class="down" src="../../../assets/down-arrow.png">
            <button class="button2" type="submit"><font style="font-size: 400%;">+</font></button>
        </form>
    </body>
</html>