<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Recolector de libros</title>
        <link rel="stylesheet" href="../../../assets/SubirStyle.css">
    </head>
    <body>
        <div class="instructions">
            <h1>
                <p class="tittleStyle">Instrucciones</p>
                <ol class="bodyStyle">
                    <li class="bodyStyle">En esta pantalla te servirá para subir nuevos libros que necesites tú y tus alumnos, pero recuerda es exclusivamente para libros ten cuidado en subir otro tipo de material. </li>
                    <li class="bodyStyle">Carmen</li>
                    <li class="bodyStyle">Ignacio</li>
                    <li class="bodyStyle">Elena</li>
                  </ol>
            </h1>
        </div>
        <form enctype="multipart/form-data" action="uploader.php" method="POST">
            <input class="button1" name="uploadedfile" type="file"></button>
            <button class="button2" type="submit">+</button>
        </form>
    </body>
</html>